* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: monospace;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  background: #030502;
  color: #f4f4f4;
  height: 8vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s;
}

nav a {
  color: inherit;
  font-size: 35px;
}

nav .navLinks {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

nav .navLinks a {
  color: inherit;
  font-size: 25px;
}

nav:hover {
  background: #f4f4f4;
  color: #000;
}
