body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container .card {
    overflow: hidden;
    width: 270px;
}

.container .card .product-image {
    width: 230px;
}

.container .card .product-image img {
    width: 100%;
}

.sect1 {
    
}

.sect2 {

}