* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: monospace;
    overflow-x: hidden;
}

.header {
    color: #fff;
    width: 100vw;
    height: 92vh;
    background: url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") center center/cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

nav {
    background: #030502;
    color: #f4f4f4;
    height: 8vh;
    width: 100vw;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
  }
  
  nav a {
    color: inherit;
    font-size: 35px;
  }
  
  nav .navLinks {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .navLinks a {
    color: inherit;
    font-size: 25px;
  }
  
  nav:hover {
    background: #f4f4f4;
    color: #000;
  }







.products {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
  background: #000;
  width: 350px;
  height: 350px;
  border-radius: 3%;
  align-items: center;
}

.img {
  width: 250px;
  height: 250px;

}

#img1 {
  background: url("Assets/Images/Pizza.jpeg")
  center center/cover;
}

#img2 {
  background: url("Assets/Images/burgerFrieten.jpg")
  center center/cover;
}

#img3 {
  background: url("")
  center center/cover;
}