* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: monospace;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

/* Buttons */
.btn {
  border-radius: 2px;
  padding: 20px;
  width: 300px;
  font-size: 30px;
  background: rgb(255, 173, 22);
  color: black;
  text-align: center;
}

nav {
  background: #030502;
  color: #f4f4f4;
  height: 8vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s;
}

nav a {
  color: inherit;
  font-size: 35px;
}

nav .navLinks {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

nav .navLinks a {
  color: inherit;
  font-size: 25px;
}

nav:hover {
  background: #f4f4f4;
  color: #000;
}

/* Header */
header {
  color: #fff;
  width: 100vw;
  height: 92vh;
  background: url("Assets/Images/burgerFrieten.jpg") center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 70px;
}

/* Sections */
section {
  background: #e9e9e9;
  width: 100vw;
  height: 60vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

section:nth-child(even) {
  background: #030502;
  color: #f4f4f4;
}

section:nth-child(even) .btn {
  background-color: #f4f4f4;
}

.sComment {
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sImage {
  width: 40vw;
  height: 40vh;
}

.sText {
  width: 40vw;
  font-size: 50px;
}

#sec1 .sImage {
  background: url("https://images.unsplash.com/photo-1622880833523-7cf1c0bd4296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    center center/cover;
}
#sec2 .sImage {
  background: url("https://images.unsplash.com/photo-1502364271109-0a9a75a2a9df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    center center/cover;
}
