/* Header */
header {
  color: #fff;
  width: 100vw;
  height: 92vh;
  background: url("Assets/Images/burgerFrieten.jpg") center center/cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 70px;
}

.seeNext {
  user-select: none;
  font-size: 40px;
  color: white;
  border: 2px solid white;
  padding: 7px 30px;
}

.seeNext:hover {
  cursor: pointer;
  user-select: none;
}

/* Buttons */
.btn {
  border-radius: 2px;
  padding: 20px;
  width: 300px;
  font-size: 30px;
  background: rgb(255, 173, 22);
  color: black;
  text-align: center;
}

/* Sections */
section {
  background: #e9e9e9;
  width: 100vw;
  height: 60vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

section:nth-child(even) {
  background: #030502;
  color: #f4f4f4;
}

section:nth-child(even) .btn {
  background-color: #f4f4f4;
}

.sComment {
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sImage {
  width: 40vw;
  height: 40vh;
}

.sText {
  width: 40vw;
  font-size: 50px;
}

.Log-in {
  position: absolute; top: 0; right: 0 
}

#sec1 .sImage {
  background: url("https://images.unsplash.com/photo-1622880833523-7cf1c0bd4296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    center center/cover;
}
#sec2 .sImage {
  background: url("https://images.unsplash.com/photo-1502364271109-0a9a75a2a9df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    center center/cover;
}
#sec3 .sImage {
  background: url("https://images.unsplash.com/photo-1563379926898-05f4575a45d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    center center/cover;
}
